html{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    gap: 100px;
    height: 100%;
}
 /*Header*/
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 20px;
    align-items: center;
}
.logo{
    color: #f9faf8;;
    font-size: 24px;
}
a{
    font-family: sans-serif;
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
}
ul{
    color: #f9faf8;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
/*Body*/

/*Footer*/
.footer{
    border-color: #1f2937;
    display: flex;
    justify-content: center;  
    background-color: #3882f6;
    margin: 50px; 
    gap: 50px;
}

