html{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}
 /*----------------------Header----------------------*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 20px;
    align-items: center;
}
.logo{
    color: #f9faf8;;
    font-size: 24px;
}
a{
    font-family: sans-serif;
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
}
ul{
    color: #f9faf8;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
/*----------------------Body----------------------*/
.content{
    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body-one{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.container-b1{
    margin-left: 50px;
    flex: 1;
}
.title-b1{
    font-size: 24px;
    color: #f9faf8;
}
.sub-b1{
    font-size: 16px;
    color: lightgray;
}
.button-b1{
    color: #f9faf8;
    padding: 10px;
    border-radius: 5px;
    background-color: #3882f6;
}
.img-b1{
    flex: 1;
    margin: 50px;
    padding: 10px;
    background-color: gray;
    align-self: stretch;
}
.body-two{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container-b2{
    display: flex;
    flex-wrap: wrap;
}
.body-three{
    flex:1;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-b3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote{
    font-size: 36px;
}
.author{
    font-size: 30px;
    align-self: flex-end;
}
/*----------------------Footer----------------------*/
.footer{
    border-color: #1f2937;
    display: flex;
    justify-content: center;  
    background-color: #3882f6;
    margin: 50px; 
    padding: 30px;
    gap: 50px;
    align-items: center;
    border-radius: 15px;
}
b.white, p.white{
    color: #f9faf8;
}

.button-footer{
    padding: 10 10;
    font-size: 20px;
}